# macOS system files
.DS_Store

# Node.js dependencies
/node_modules

# Build output
/dist
/build

# Environment variables
.env

# IDE and editor files
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Logs and debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log

# Dependency lock files
package-lock.json
yarn.lock
